@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Trimite Adeverinta";
}

@using LicWeb.ViewModels
@model AdeverintaViewModel
<section class="vh-auto container-fluid d-flex">
    <nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: rgba(2,84,152,255);">
        <div class="container-fluid">
            <a href="#" class="navbar-brand fw-bold" style=" color:white">Bun venit, @User.Identity.Name.ToString()</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <button onclick="history.back()" class="btn btn-raised shadow my-button btn-outline-light btn-lg px-5 margin" style=" color:white; margin-bottom: 5px; margin-top: 5px">Inapoi</button>
                    <a href="../Account/Logout" class="btn btn-raised shadow my-button btn-outline-light btn-lg px-5 margin" style=" color:white; margin-bottom: 5px; margin-top: 5px; margin-left:10px">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</section>
<section class="vh-auto">
    <div class="container-fluid h-auto">
        <div class="row d-flex" style="padding-top: 100px">
            <form method="post" asp-action="Index" asp-controller="Doctor" class="row d-flex justify-content-center align-items-center h-100" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://i.ibb.co/7r3YSSs/1-removebg-preview.png"
                         class="img-fluid" alt="Imagine Universitate">
                </div>
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
                    <div class="card text-white cardset" style="border-radius: 1rem; ">
                        @if (TempData["Eroare"] != null)
                        {
                            <div class="col-md-12 alert alert-danger" style="border-color:crimson; margin-top: 0px; border-radius: 1rem;">
                                <span><b>Eroare!</b> - @TempData["Eroare"]</span>
                            </div>
                        }
                        else if (TempData["Succes"] != null)
                        {
                            <div class="col-md-12 alert alert-success" style="border-color:green; margin-top: 0px; border-radius: 1rem;">
                                <span><b>Succes!</b> - @TempData["Succes"]</span>
                            </div>
                        }
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-2 pb-2">
                                <h2 class="fw-bold mb-2 text-uppercase">Trimite Adeverinta</h2>
                                <p class="text-white mb-5">Completeaza formularul.</p>
                                <div class="form-outline form-white mb-4">
                                    <label for="Adeverinta" class="col-form-label float-lg-start fw-bold">Adeverinta</label>
                                    <input asp-for="Adeverinta" type="file" class="form-control form-control-lg" placeholder="Ataseaza Adeverinta" />
                                    <span asp-validation-for="Adeverinta" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="CheiePrivata" class="col-form-label float-lg-start fw-bold">Cheie Privata</label>
                                    <input asp-for="CheiePrivata" type="file" class="form-control form-control-lg" placeholder="Ataseaza Adeverinta" />
                                    <span asp-validation-for="CheiePrivata" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="typeZiuaSaptamaniiCurs" class="col-form-label float-lg-start fw-bold">Motivare din</label>
                                    <input asp-for="MotivareDin" type="date" id="datetimepicker4" class="form-control form-control-lg" placeholder="Motivare din" />
                                    <span asp-validation-for="MotivareDin" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="typeZiuaSaptamaniiCurs" class="col-form-label float-lg-start fw-bold">Motivare pana</label>
                                    <input asp-for="MotivarePana" type="date" id="datetimepicker4" class="form-control form-control-lg" placeholder="Motivare pana" />
                                    <span asp-validation-for="MotivarePana" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="Adeverinta" class="col-form-label float-lg-start fw-bold">Email Student</label>
                                    <input asp-for="EmailStudent" type="email" id="Adeverinta" class="form-control form-control-lg" placeholder="Email " />
                                    <span asp-validation-for="EmailStudent" class="text-danger"></span>
                                </div>
                                <button class="btn btn-raised shadow my-button btn-outline-light btn-lg px-5" type="submit">Trimite</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<style>
    .cardset {
        background: rgba(2,84,152,255) 100%;
        border-color: black;
    }

    body {
        background: rgb(237,237,237);
        background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(0,212,255,1) 59%, rgba(12,18,196,0.850577731092437) 100%);
    }

    .btn-raised {
        transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5)
    }

        .btn-raised:not([disabled]):active,
        .btn-raised:not([disabled]):focus,
        .btn-raised:not([disabled]):hover {
            box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 1);
            transform: translate3d(0, -3px, 0);
            background-color: rgba(0,143,254,255);
            border-color: rgba(2,84,152,255);
        }

    .my-button {
        background-color: rgba(2,84,152,255);
        border-color: rgba(0,143,254,255);
    }
</style>
